.main-product {
  border: 1px solid #000;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}
.product-image {
  width: 100%;
}
.product-info {
  text-align: center;
}
.product-info button {
  margin: 5px auto 0 auto;
  display: block;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.product-info button:hover {
  border: 0;
  cursor: pointer;
  background-color: rgb(198, 198, 198);
  color: #000;
}
